.container {
    display: grid;
    background: rgb(222, 222, 222);
    gap: 10px;
    grid-template-columns: 1fr;
    padding: 20px;

    @media (width >= 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (width >= 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.item2 {
    @media (width >= 1024px) {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
}

.item3 {
    @media (width >= 1024px) {
        grid-column: 3 / 4;
        grid-row: 2/ 4;
    }
}
.item {
    min-height: 324px;
    padding: 10px 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%);
    overflow: hidden;
}
